<mat-dialog-content class="mat-typography">
    <div class="split">
        <h2>User Details</h2>
        <mat-icon id="close" (click)="closeDialog()">highlight_off</mat-icon>
    </div>
   
    <div class="split">
        <label for="name" class="data_name"> name:</label>
        <label class="user-data">{{data.user.name}}</label>
    </div>
    <div class="split">
        <label class="data_name">id: </label>
        <label class="user-data">{{data.user.id}}</label>
    </div>
    <div class="split">
        <label class="data_name">username: </label>
        <label class="user-data"> {{data.user.username}}</label>
    </div>
    <div class="split">
        <label class="data_name">email: </label>
        <label class="user-data">{{data.user.email}}</label>
    </div>
    <div class="split">
        <label class="data_name">address: </label>
        <label class="user-data">{{data.user.address.street}}, {{data.user.address.suite}}, {{data.user.address.city}}, {{data.user.address.zipcode}}</label>
    </div>
    <div class="split">
        <label class="data_name">geo: </label>
        <label class="user-data">{{data.user.address.geo.lat}}, {{data.user.address.geo.lng}}</label>
    </div>
    <div class="split">
        <label class="data_name">phone: </label>
        <label class="user-data">{{data.user.phone}}</label>
    </div>
    <div class="split">
        <label class="data_name">website: </label>
        <a href={{data.user.website}} disabled class="user-data">{{data.user.website}}</a>
    </div>
    <div class="split">
        <label class="data_name">company name: </label>
        <label class="user-data">{{data.user.company.name}}</label>
    </div>
    <div class="split">
        <label class="data_name"> company catchphrase: </label>
        <label class="user-data">{{data.user.company.catchPhrase}}</label>
    </div>
    <div class="split">
        <label class="data_name">company bs: </label>
        <label class="user-data">{{data.user.company.bs}}</label>
    </div>

</mat-dialog-content>