<mat-dialog-content class="mat-typography">
    <div class="split">
        <h2>User Details</h2>
        <mat-icon id="close" (click)="closeDialog()">highlight_off</mat-icon>
    </div>
   
    <div class="split">
        <p class="data_name">name: </p>
        <p class="user-data">{{data.user.name}}</p>
    </div>
    <div class="split">
        <p class="data_name">id: </p>
        <p class="user-data">{{data.user.id}}</p>
    </div>
    <div class="split">
        <p class="data_name">username: </p>
        <p class="user-data"> {{data.user.username}}</p>
    </div>
    <div class="split">
        <p class="data_name">email: </p>
        <p class="user-data">{{data.user.email}}</p>
    </div>
    <div class="split">
        <p class="data_name">adress: </p>
        <p class="user-data">{{data.user.address.street}}, {{data.user.address.suite}}, {{data.user.address.city}}, {{data.user.address.zipcode}}</p>
    </div>
    <div class="split">
        <p class="data_name">geo: </p>
        <p class="user-data">{{data.user.address.geo.lat}}, {{data.user.address.geo.lng}}</p>
    </div>
    <div class="split">
        <p class="data_name">phone: </p>
        <p class="user-data">{{data.user.phone}}</p>
    </div>
    <div class="split">
        <p class="data_name">website: </p>
        <a href={{data.user.website}} disabled class="user-data">{{data.user.website}}</a>
    </div>
    <div class="split">
        <p class="data_name">company name: </p>
        <p class="user-data">{{data.user.company.name}}</p>
    </div>
    <div class="split">
        <p class="data_name"> company catchphrase: </p>
        <p class="user-data">{{data.user.company.catchPhrase}}</p>
    </div>
    <div class="split">
        <p class="data_name">company bs: </p>
        <p class="user-data">{{data.user.company.bs}}</p>
    </div>

</mat-dialog-content>