.split{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data_name{
    margin-right: 20px;
}
a{
    color:rgb(55,71,172);
    text-decoration: none;
}

a:hover{
    color:rgb(26, 33, 82);
}