<mat-dialog-content class="mat-typography">
    <h3>{{data.user.name}}</h3>
    <div class="split">
        <p class="data_name">id: </p>
        <p>{{data.user.id}}</p>
    </div>
    <div class="split">
        <p class="data_name">username: </p>
        <p>{{data.user.username}}</p>
    </div>
    <div class="split">
        <p class="data_name">email: </p>
        <p>{{data.user.email}}</p>
    </div>
    <div class="split">
        <p class="data_name">adress: </p>
        <p>{{data.user.address.street}}, {{data.user.address.suite}}, {{data.user.address.city}}, {{data.user.address.zipcode}}</p>
    </div>
    <div class="split">
        <p class="data_name">geo: </p>
        <p>{{data.user.address.geo.lat}}, {{data.user.address.geo.lng}}</p>
    </div>
    <div class="split">
        <p class="data_name">phone: </p>
        <p>{{data.user.phone}}</p>
    </div>
    <div class="split">
        <p class="data_name">website: </p>
        <a href={{data.user.website}} disabled>{{data.user.website}}</a>
    </div>
    <div class="split">
        <p class="data_name">company name: </p>
        <p>{{data.user.company.name}}</p>
    </div>
    <div class="split">
        <p class="data_name"> company catchphrase: </p>
        <p>{{data.user.company.catchPhrase}}</p>
    </div>
    <div class="split">
        <p class="data_name">company bs: </p>
        <p>{{data.user.company.bs}}</p>
    </div>

</mat-dialog-content>