<div class="elements-center">
    <mat-form-field appearance="outline" color="primary">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search" [(ngModel)]="search">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<mat-divider></mat-divider>
<div class="wrap">
    <div *ngFor="let user of userInfo |filter:search">
        <mat-card class="card">
            <mat-card-title class="space-between">
                <p class="ellipsis">{{user.name}}</p>
                <mat-icon class="more-details" (click)="openAllInfo(user.id)">info</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <div class="user-property">
                    <p>id: </p>
                    <p class="user-data">{{user.id}}</p>
                </div>
                <div class="user-property">
                    <p>name: </p>
                    <p class="user-data">{{user.name}}</p>
                </div>
                <div class="user-property">
                    <p>username: </p>
                    <p class="user-data">{{user.username}}</p>
                </div>
                <div class="user-property">
                    <p>email: </p>
                    <p class="user-data">{{user.email}}</p>
                </div>
                <div class="user-property">
                    <p>phone: </p>
                    <p class="user-data">{{user.phone}}</p>
                </div>
                <div class="user-property">
                    <p>website: </p>
                    <p class="user-data">{{user.website}}</p>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>